.h1{
    font-size: 56px;
    font-weight: 700;
    font-family: var(--heading-font-family);
    line-height: 1;
    letter-spacing: 1px;
  }
  
  .h2{
    font-size: 44px;
    font-weight: 700;
    font-family: var(--heading-font-family);
    line-height: 64px;
    letter-spacing: 0.5px;
  }
  
  .h3{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--heading-font-family);
    line-height: 58px;
    letter-spacing: 0.5px;
  }
  
  .h4{
    font-size: 32px;
    font-weight: 500;
    font-family: var(--heading-font-family);
    line-height: 48px;
    letter-spacing: 0.5px;
  }
  
  .h5{
    font-size: 24px;
    font-weight: 500;
    font-family: var(--heading-font-family);
    line-height: 36px;
    letter-spacing: 0.5px;
  }
  
  .h6{
    font-size: 20px;
    font-weight: 500;
    font-family: var(--heading-font-family);
    line-height: 32px;
    letter-spacing: 0.5px;
  }
  
  .text-base{
    font-size: 16px;
    font-family: var(--body-font-family);
    line-height: 28px;
    letter-spacing: 0.5px;
  }
  
  .text-md{
    font-size: 14px;
    font-family: var(--body-font-family);
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  
  .text-sm{
    font-size: 12px;
    font-family: var(--body-font-family);
    line-height: 24px;
    letter-spacing: 0.5px;
  }