.main {
  background-image: url("/workbg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: auto;
}

.topic {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  width: 100%;

  &__main_title {
    color: var(--N-900);
    text-align: left;
  }

  &__colored_title {
    color: var(--B-800);
    font-family: var(--heading-font-family);
  }

  &__description {
    color: #273040;
    margin-bottom: 100px;
    padding-top: 40px;
    width: 60%;

    a {
      color: var(--B-800);
    }
  }
}

.socials {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 20px;

  &__list {
    padding: 20px;

    &__link{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      color: #728197;
    }
  }
}

.green_background {
  background: rgba(240, 255, 254, 0.2);
  bottom: 0;
  left: 0;
  padding-bottom: 40px;
  padding-top: 40px;
  top: 0;
  z-index: 1;

  &__heading {
    font-weight: 600;
    text-align: center;
  }
}

.tech_cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 40px;
}

.tech_card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 12px 30px -7px rgba(0, 34, 31, 0.1);
  padding: 24px;
  padding: 40px;
  text-align: center;
  width: 280px;

  &__img {
    padding-top: 40px;
  }

  &__heading {
    color: #00a291;
    font-weight: 400;
    margin: 0;
    padding-bottom: 28px;
    padding-top: 28px;
  }

  &__description {
    color: #273040;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.fun_projects {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__heading {
    text-align: center;
  }
}

.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  color: #535353;
  display: flex;
  gap: 100px;
  justify-content: center;
  padding: 20px;
  a:hover {
    color: var(--B-700);
  }
}

@media (max-width: 767px) {
  .main {
    background-position: 0px -1560px;
  }

  .topic {
    display: flex;
    flex-direction: column;
    padding-top: 40px;

    &__section {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-left: 12px;
      padding-right: 12px;
    }

    &__description {
      margin-bottom: 12px;
      margin: 0;
      padding-top: 4px;
      text-align: center;
      width: 70%;
    }

    &__main_title {
      color: var(--N-900);
      font-size: 42px;
      margin: 12px;
      text-align: center;
    }

    &__colored_title {
      color: var(--B-800);
      font-family: var(--heading-font-family);
      font-size: 42px;
      margin: 8px;
      text-align: center;
      width: 80%;
    }
  }

  .tech_cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }

  .tech_card {
    margin: 24px;
    padding: 20px;
    width: 260px;

    &__img{
      padding-bottom: 200px;
    }

    &__heading {
      color: #00a291;
      font-size: 20px;
      font-weight: 400;
      line-height: 0;
      margin-bottom: 24px;
      margin-top: 24px;
      padding: 0;
    }

    &__description {
      color: #273040;
      letter-spacing: 0.5px;
      line-height: 24px;
    }
  }

  .green_background {
    background: none;
    margin: 0;
    padding-bottom: 0;
    padding-top: 20px;

    &__heading {
      font-size: 32px;
      font-weight: 600;
      margin: 0;
      text-align: center;
    }
  }

  .fun_projects {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__heading {
      text-align: center;
      font-size: 32px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-bottom: 20px;
  }
}

@media (max-width: 1023px) {
  .main {
    background-position: 0px -560px;
  }

  .topic {
    display: flex;
    flex-direction: column;
    padding-top: 80px;

    &__section {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__description {
      margin-bottom: 12px;
      margin: 0;
      padding-top: 4px;
      text-align: center;
      width: 70%;
    }

    &__main_title {
      color: var(--N-900);
      font-size: 42px;
      margin: 12px;
      text-align: center;
    }

    &__colored_title {
      color: var(--B-800);
      font-family: var(--heading-font-family);
      font-size: 42px;
      margin: 8px;
      text-align: center;
      width: 80%;
    }
  }

  .tech_cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tech_card {
    margin: 24px;
    padding: 20px;
    width: 260px;

    &__heading {
      color: #00a291;
      font-size: 20px;
      font-weight: 400;
      line-height: 0;
      padding-bottom: 24px;
      padding-top: 24px;
      padding: 0;
    }

    &__description {
      color: #273040;
      letter-spacing: 0.5px;
      line-height: 24px;
    }
  }

  .green_background {
    background: none;
    margin: 0;
    padding-bottom: 0;
    padding-top: 40px;

    &__heading {
      font-size: 32px;
      font-weight: 600;
      margin: 0;
      text-align: center;
    }
  }

  .fun_projects {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;

    &__heading {
      font-size: 32px;
      text-align: center;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-bottom: 20px;
  }
}
